#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-left: 20vw;
  margin-right: 20vw;
}
.content-container {
  position: relative;
  top: 100px;
  margin-bottom: 3em;
}

.content-wrapper div {
  width: inherit;
  height: inherit;
}

ul {
  list-style-type: none;
}

body {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}
.horizontal {
  display: inline;
}

/* .grid-container {
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
} */
/* 
.placeholder {
  width: 33%;
  width: calc(100% / 3);
  display: inline-block;
} */

.content-container {
  width: inherit;
  display: flex;
  justify-content: space-around;
}
.placeholder {
  /* flex-grow: 2; */
  width: 20vw;
}
.content-wrapper {
  /* flex-grow: inherit; */
  flex-grow: 60vw;
}