
ul.horizontal * {
  vertical-align: middle;
}

ul.horizontal li {  
  display: inline;
  margin-left: 1em;
}

.nav-bar {
  float: right;
  position: sticky;
  top: 1em;
  z-index: 100;
  background: white;
  /* text-align: center; */
}